body {
	background-image: url("assets/images/cork-wallet.png") top left repeat
	
}

h1 h3 {
	font-family: Georgia;
	color: #4aaaa5;

}

#name {
	position: fixed;
	margin-left: 5%;
	margin-top: 8px;
	background-color: #4aaaa5;
	height: 80px;
	width: 300px;
	display: inline;
	border: black solid 1px;
	text-align: center;


}

#menu {
	text-align: right;
	padding-top:20px;
	padding-bottom:20px;
	margin-top: -8px;

}

div h1 {
	color: #4aaaa5;
}
header {
	background-color: #ffffff;
	border-color: #cccccc;
}


img {
	float: left;
	border: 1px blue;
}
ul li a {
	background-color: #ffffff;
	border-color: #dddddd;
	text-decoration: none;
	color: #777777;

}

ul li {
	display: inline;
	list-style: none;
}

#aboutme {
	margin-top: 5%;
	margin-left: 5%;
	background-color: #ffffff;
	border-color: #dddddd;
}

#socialLinks {
	background-color: #ffffff;
	border-color: #dddddd;
	float: right;
}

p {
	color: #777777;
	text-align: left;
	border: 1px red;
}

#site-footer {
	background-color: #666666;
	height: 53px;
	clear: both;
	border-top: 5px;
	border-color: teal;

}

textarea {
	outline: none;
	border: 1px solid #dddddd;
}